@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");


:root {
  --theme-primary: #8750f7;
  --theme-secondary: #2a1454;
  --theme-accent-1: #0f0715;
  --theme-accent-2: #140c1c;
  --theme-grad: linear-gradient(to right, var(--theme-primary) 0%, var(--theme-secondary) 100%);
  --black: #000;
  --black-2: #050709;
  --white: #fff;
  --off-white: #f6f3fc;
  --gray-1: #747779;
  --ff-russo: "Russo One", sans-serif;
}

body {
  font-size: 15px;
  scroll-behavior: smooth;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: var(--theme-secondary);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--theme-primary);
  }
}

/*Layout*/
@import "layout/layout";

/*Pages*/
@import "global";
@import "pages/homepage";

// Plugins
@import '@splidejs/vue-splide/css';

