.header {
  padding: 40px 0 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;

  &.fixed-header {
    position: fixed;
    background-color: var(--off-white);
    top: 0;
    opacity: 1;
    animation: bounceInDown 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    width: 100%;
    transition: 0.3s;
    padding: 0;
    box-shadow: 0 0 30px rgba(135, 80, 247, 0.2);
  }

  @media screen and (max-width: 991px) {
    padding: 15px 0 15px;
  }

  .navbar-brand {
    font-size: 15px;
    font-weight: 500;
    transition: .3s all ease-in-out;
    color: var(--theme-secondary);


    img {
      width: 60px;
      height: 60px;
    }

    &:hover {
      transition: .3s all ease-in-out;
      color: var(--theme-primary);
    }
  }

  .navbar-toggler {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;

    &:focus {
      border: none;
      box-shadow: none;
      outline: none;
    }

    span {
      @media screen and (min-width: 992px) {
        display: none;
      }
      text-align: end;
      border-radius: 5px;
      display: block;
      height: 3px;
      width: 40px;
      margin-bottom: 10px;
      background-color: var(--theme-primary);

      &:first-child {
        width: 35px;
      }

      &:last-child {
        width: 30px;
      }

    }
  }

  .navbar-collapse {
    @media screen and (max-width: 991px) {
      background-color: var(--theme-secondary);
    }

    .navbar-nav {
      .nav-item {
        margin: 0 10px;

        .nav-link {
          padding: 10px 0;

          position: relative;
          font-weight: 500;
          color: var(--theme-secondary);
          @media screen and (max-width: 991px) {
            color: var(--white);
            text-align: center;
            padding: 20px 0;
            font-size: 20px;
          }

          &.active {
            transform-origin: left;
            -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
            transform: scaleX(1);
          }

          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            border-radius: 4px;
            background: var(--theme-primary);
            background: -o-linear-gradient(190deg, var(--theme-secondary) 0%, var(--theme-primary) 100%);
            background: linear-gradient(260deg, var(--theme-secondary) 0%, var(--theme-primary) 100%);
            bottom: 9px;
            left: 0;
            -webkit-transform-origin: right;
            -ms-transform-origin: right;
            transform-origin: right;
            -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: -webkit-transform 0.3s ease-in-out;
            transition: -webkit-transform 0.3s ease-in-out;
            -o-transition: transform 0.3s ease-in-out;
            transition: transform 0.3s ease-in-out;
            transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
          }

          &:hover {
            &:before {
              transform-origin: left;
              -webkit-transform: scaleX(1);
              -ms-transform: scaleX(1);
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }


}


@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  80% {
    -webkit-transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
