.service-section {
  background-color: var(--off-white);
  padding-top: 120px;
  padding-bottom: 120px;

  @media screen and (max-width: 767px) {
    padding: 60px 0;
  }

  .services-widgets {
    .services-item {
      position: relative;
      transition: .5s all ease-in-out;
      padding: 0 30px;
      z-index: 2;
      gap: 20px;
      @media screen and (max-width: 767px) {
        padding: 20px;
      }


      .left-box {
        width: calc(40% - 10px);
        padding: 30px 0;
        gap: 20px;
        color: var(--theme-primary);

        @media screen and (max-width: 991px) {
          gap: 10px;
        }
        @media screen and (max-width: 767px) {
          width: 100%;
          padding: 0 30px 0 0;
        }

        .number {
          font-weight: bold;
          font-size: 20px;
        }

        .service-title {
          font-weight: bold;
          font-size: 30px;
          margin-bottom: 0;
          text-transform: capitalize;
          @media screen and (max-width: 991px) {
            font-size: 25px;
          }
          @media screen and (max-width: 767px) {
            font-size: 20px;
          }
        }
      }

      .right-box {
        width: calc(60% - 10px);
        padding: 30px 15% 30px 0;
        @media screen and (max-width: 991px) {
          padding: 20px 5% 20px 0;
        }
        @media screen and (max-width: 767px) {
          padding: 0;
          width: 100%;
        }
      }

      .icon {
        transition: .5s all ease-in-out;
        transform: rotate(130deg);
        font-size: 20px;
        line-height: 1;
        position: absolute;
        top: 50%;
        right: 55px;
        color: var(--theme-primary);
        @media screen and (max-width: 767px) {
          top: 15%;
          right: 20px;
        }
      }

      &:hover {
        transition: .5s all ease-in-out;
        background: linear-gradient(to right, var(--theme-primary) 0%, var(--theme-secondary) 100%);

        .left-box {
          color: var(--white);
        }

        .right-box {
          color: var(--white);
        }

        .icon {
          transition: .5s all ease-in-out;
          transform: rotate(45deg);
          color: var(--white);
        }
      }
    }
  }
}